@import './scrollToTop.css';
@import '../../node_modules/modern-normalize/modern-normalize.css';

body {
  font-size: 13px;
  font-family: 'Tahoma', monospace;
  width: 100%;
  height: 70vh;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
}

/* Header */

header {
  height: 180px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 0px;
}

h1 {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 39px;
  /* text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5); */
  text-shadow: 2px 1px 10px rgba(255, 255, 0, 0.7);
  color: rgb(255, 255, 255);
}

header .search-box {
  position: relative;
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.search-box input {
  width: 100%;
  height: 39px;
  border: none;
  outline: none;
  background: #b6d1f5;
  border-radius: 7px;
  color: gray;
  font-size: 16px;
  text-align: left;
  padding-left: 15px;
  padding-right: 45px;
}

.search-box button {
  cursor: pointer;
  width: 39px;
  height: 39px;
  border-radius: 7px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: rgb(95, 110, 240);
  transition: background 200ms ease-in;
}
.search-box:hover button {
  background: rgb(31, 50, 223);
}
/* ---------- */
/* Gallery */

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}
.photo-card {
  width: 250px;
  height: 170px;
  border-radius: 3px;
  overflow: hidden;
  border: 0px solid #fff;
  position: relative;
  box-shadow: 0px -1px 12px -3px rgba(0, 0, 0, 0.82);
  transition: box-shadow 500ms ease-in;
}

.photo-card:hover {
  box-shadow: 1px 0px 36px -9px rgba(139, 138, 138, 0.82);
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #fff;
}

.photo-card:hover .info {
  opacity: 1;
  visibility: initial;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.info {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: absolute;
  background: #1d4f5f46;
  backdrop-filter: invert(30%);
  border-radius: 3px;
  color: #fff;
  padding: 15px 0px 10px 70px;
  transition: opacity 350ms ease-in-out;
}

.info-item {
  font-size: 15px;
  color: antiquewhite;
}

.load-more {
  /* display: block; */
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 169px;
}

/* --------------------------- */
/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #15478a;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#188381, #dbca7e);
  border-radius: 3px;
}
/* Loader */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #0011ff;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
