.stt {
  position: fixed;
  right: 48%;
  bottom: 10px;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 8px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.stt:hover {
  opacity: 1;
}
.stt_active {
  visibility: visible;
  opacity: 0.5;
}
.stt_circle_black {
  background-color: #096909;
  border-radius: 50%;
}
.stt_circle_black:before {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: '';
  background-color: #fff;
  transform: translate(0, -50%) rotate(45deg);
}
.stt_circle_black:after {
  position: absolute;
  top: 50%;
  right: 40%;
  display: block;
  width: 20px;
  height: 5px;
  content: '';
  background-color: #fff;
  transform: translate(0, -50%) rotate(-45deg);
}
